@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-sans: "Manrope", system-ui, sans-serif;
}

@layer components {
  .marquee {
    display: flex;
    width: max-content;
  }

  .marquee-track {
    display: flex;
    gap: 4rem;
    padding-right: 4rem;
    animation: marquee 40s linear infinite;
    will-change: transform;
  }

  @keyframes marquee {
    to {
      transform: translateX(-100%);
    }
  }
}
